/* your styles go here */
h1{
  font-size: 28px;
}
h2 {
  font-size: 24px;
  font-weight: normal;
}
h3 {
  font-size: 21px;
  font-weight: normal;
}
h4 {
  font-size: 18px;
  font-weight: normal;
}
blockquote {
  margin-top: 24px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}
input[type=checkbox] {
  margin-right: 5px;
}
ul {
  padding-left: 30px;
}
li {
  margin-left: -15px;
}
.sidebar-menu {
  padding-left: 0;
}